/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
}

/* Header Styles */
header {
  background: linear-gradient(to right, #ff6f61, #4a90e2),
    url("header-background.jpg") center/cover no-repeat;
  color: #fff;
  padding: 2px 0; /* Reduced the top and bottom padding */
  text-align: center;
}

#logo {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

#title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
}

/* Main Content Styles */
#content {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#content h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Contact Form Styles */
#contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#contact-form label {
  font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form input[type="submit"] {
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#contact-form input[type="submit"]:hover {
  background-color: #f94336;
}

/* Footer Styles */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}